#!/bin/bash
# Build image txmit tanpa cache
mkdir logs
mkdir csv
chmod 777 logs
chmod 777 csv
mkdir -p database/backup
chmod -R 777 database

docker-compose build --no-cache txmit

# Start semua service di background
docker-compose up -d

sleep 5
docker exec -it db_txmit service mysql start